version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: careconnect
    ports:
      - "5432:5432"
    volumes:
      - careconnect_db:/var/lib/postgresql/data
volumes:
  careconnect_db:
